# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
build

# build
static
autoIndex.js
profile.js

# misc
.DS_Store
npm-debug.log*
.idea/
src/lib/config.js
